:root{
    --bg-color:#f0f4f9;
    --text-color:#282828;
    --hover-color:#e2e6eb;
}

.dark-theme{
    --bg-color:#282828;
    --text-color:#f0f4f9;
    --hover-color:gray;
}


.dialog{
    width:150px;
    height:100px;
    display:flex;
    gap:10px;
    background-color:  var(--bg-color);
    border:2px solid var(--text-color);
    border-radius: 20px;
    color: var(--text-color);
    z-index: 1;
    flex-direction: column;
    position: absolute;
    top: -10px;
    right:-10px;
    transform: translate(100%,-55%);
    overflow: hidden;
}

.btn{
    padding-left: 10px;
    
}

.btn:hover{
    background-color: var(--hover-color);
}